.popup {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  &._open {
    pointer-events: all;

    .popup {
      &__bg {
        opacity: 1;
      }

      &__container {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 21, 64, 0.65);
    backdrop-filter: blur(0.15rem);
    opacity: 0;
    transition: 0.5s;
  }

  &__wrapper {
    pointer-events: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    align-items: center;
    padding: 2rem;

    @include breakpoint($xs-bp) {
      padding: 4rem 0rem 0rem;
    }
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 59.2rem;
    padding: 4rem;
    border-radius: 2.4rem;
    background-color: $white;
    opacity: 0;
    transform: translateY(5rem);
    transition: 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    overflow: hidden;

    @include breakpoint($xs-bp) {
      padding: 3.2rem 1.6rem;
      border-radius: 2.4rem 2.4rem 0rem 0rem;
    }
  }

  &__close {
    position: absolute;
    z-index: 300;
    top: 1.2rem;
    right: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    color: $Gray-500;
    transition: 0.3s;
    @include hover {
      color: $Base-Black;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }

  &__text {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: $Gray-500;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;

    &__inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  .checkbox {
    font-size: 1.2rem;
  }
}

.popup.popup-login {
  .popup {
    &__container {
      max-width: 124rem;
      padding: 0;
    }

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      gap: 0rem;
      padding: 6rem 8rem;

      &__link {
        margin-left: auto;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        color: $Primary-Base;
        margin-top: 0.75rem;
        transition: 0.3s;
        @include hover {
          color: $Primary-Dark;
        }
      }

      &__btns {
        margin-top: 4.8rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        flex-wrap: wrap;
      }
    }

    &__title {
      margin-bottom: 3.2rem;
    }
  }

  .popup-login {
    &__wrapper {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      min-height: 80.5rem;
    }

    &__img {
      width: 100%;
      height: 100%;
      background: $Gradient-Primary;
      position: relative;

      svg {
        width: 100%;
        height: 6.7rem;
        color: $white;
        position: absolute;
        top: 18.6rem;
      }

      img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 37.8rem;
        object-fit: contain;
        object-position: right bottom;
      }
    }
  }
}

.popup.popup-partner {
  .popup {
    &-form {
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      gap: 0.8rem;
      padding: 0;

      &__inner {
        flex: 1;
        // height: fit-content;
        overflow: auto;
        @include scroll;
        padding-right: 1rem;
        width: calc(100% + 1rem);
        margin: 0rem -1rem 0rem 0rem;
      }

      &__group {
        display: flex;
        align-items: flex-start;
        gap: 1.6rem;
      }
    }

    &__head {
      gap: 1.2rem;
    }

    &__title {
      margin: 0;
    }

    &__text {
      width: 100%;
    }
  }

  .popup-login__wrapper {
    max-height: 80.5rem;
  }

  .popup-partner {
    &__container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      max-height: 80.5rem;
      padding: 6rem 8rem 6rem 8rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      position: relative;

      &.sended {
        .popup-partner-send {
          display: flex;

          &__anim {
            span {
              position: absolute;

              $colors: (#d13447, #ffbf00, #263672);

              @for $i from 0 through 150 {
                $w: random(8);
                $l: random(100);
                &:nth-child(#{$i}) {
                  width: #{$w}px;
                  height: #{$w * 0.4}px;
                  background-color: nth($colors, random(3));
                  top: -10%;
                  left: unquote($l + "%");
                  opacity: random() + 0.5;
                  transform: rotate(#{random() * 360}deg);
                  animation: drop-#{$i}
                    unquote(4 + random() + "s")
                    unquote(random() + "s")
                    infinite;
                }

                @keyframes drop-#{$i} {
                  100% {
                    top: 110%;
                    left: unquote($l + random(15) + "%");
                  }
                }
              }
            }
          }
        }
      }
    }

    &-steps {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      &__item {
        flex: 1;
        background-color: $Primary-Base;
        height: 0.8rem;
        border-radius: 0.8rem;
        transition: 0.3s;
        cursor: pointer;

        &.active {
          & ~ .popup-partner-steps__item {
            background-color: $Primary-Tint;
            pointer-events: none;
          }
        }
      }
    }

    &__swiper {
      flex: 1;
      width: 100%;

      .swiper-wrapper {
        height: 100%;
      }

      .swiper-slide {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
        padding-right: 1rem;
      }
    }

    &__btn {
      flex: none;
      margin-top: auto;
    }

    &-radio {
      &__inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.8rem 3.2rem;
        flex-wrap: wrap;
      }

      &__item {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        position: relative;
        cursor: pointer;

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          opacity: 0;
          pointer-events: none;

          &:checked + .popup-partner-radio__icon {
            &::after {
              opacity: 1;
            }
          }
        }
      }

      &__icon {
        flex: none;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        border: 0.1rem solid $Primary-Base;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
          flex: none;
          content: "";
          position: absolute;
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          background-color: $Primary-Base;
          opacity: 0;
          transition: 0.3s;
        }
      }
    }

    &-send {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      padding: 17.9rem 8rem 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4.8rem;
      display: none;

      &__anim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
      }

      .popup__head {
        gap: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .popup__title {
        text-align: center;
      }

      .popup__text {
        text-align: center;
        font-size: 1.6rem;
      }
    }
  }
}
