---
import { Sprite } from "astro-icon";
import Popup from "./Popup.astro";
import TextInput from "@components/TextInput/TextInput.astro";
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
---

<Popup popupKey="login" className="popup-login">
  <div class="popup-login__wrapper">
    <div class="popup-login__img">
      <Sprite name="logo" />
      <img src="./img/logo-bg.svg" alt="" />
    </div>
    <form action="#" class="popup-form" data-action="form-submit">
      <h4 class="popup__title">Вход B2B e-Shop</h4>
      <div class="popup-form__inner">
        <TextInput
          className="fv"
          label="*Логин"
          placeholder="Введите логин"
          required
          data-action="required-text"
        />
        <TextInput
          type="password"
          className="fv"
          label="*Пароль"
          placeholder="Введите пароль"
          required
          data-action="required-text"
          password
        />
      </div>
      <a href="#" class="popup-form__link">Забыли пароль?</a>
      <div class="popup-form__btns">
        <DefaultBtn type="submit">Войти</DefaultBtn>
        <DefaultBtn type="button" theme="stroke">Зайти как гость</DefaultBtn>
      </div>
    </form>
  </div>
</Popup>
