---
import { Sprite } from "astro-icon";
import Popup from "./Popup.astro";
import TextInput from "@components/TextInput/TextInput.astro";
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import Select from "@components/Select/Select.astro";

const bankSelects: { title: string; value: string; checked?: boolean }[] = [
  {
    title: "Банк-1",
    value: "1",
  },
  {
    title: "Банк-2",
    value: "2",
  },
  {
    title: "Банк-3",
    value: "3",
  },
  {
    title: "Банк-4",
    value: "4",
  },
  {
    title: "Банк-5",
    value: "5",
  },
  {
    title: "Банк-6",
    value: "6",
  },
];
---

<Popup popupKey="partner" className="popup-login popup-partner">
  <div class="popup-login__wrapper">
    <div class="popup-login__img">
      <Sprite name="logo" />
      <img src="./img/logo-bg.svg" alt="" />
    </div>
    <div class="popup-partner__container">
      <div class="popup-partner-steps">
        <span class="popup-partner-steps active"></span>
        <span class="popup-partner-steps"></span>
        <span class="popup-partner-steps"></span>
        <span class="popup-partner-steps"></span>
      </div>
      <form action="#" class="popup-form" data-send-handler>
        <div class="popup__head">
          <h4 class="popup__title">Станьте нашим партнером за 4 шагаp</h4>
        </div>

        <div class="swiper popup-partner__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <span class="popup__text">
                Заполните данные о себе и вашей компании
              </span>

              <div class="popup-form__inner">
                <TextInput
                  className="fv"
                  label="*ФИО"
                  placeholder="Введите ФИО"
                  required
                  data-action="required-text"
                />
                <TextInput
                  className="fv"
                  label="*Телефон"
                  placeholder="+375 99 999 99 99"
                  required
                  data-action="required-text"
                  data-mask-init
                  data-mask="+375 99 999 99 99"
                />
                <TextInput
                  className="fv"
                  label="*Корпоративный E-mail"
                  placeholder="name@untitledui.com"
                  required
                  data-action="required-text"
                />
              </div>

              <DefaultBtn
                type="button"
                className="popup-partner__btn"
                data-next
              >
                Продолжить
              </DefaultBtn>
            </div>
            <div class="swiper-slide">
              <span class="popup__text">
                Вы уже на пол пути! Заполните данные о вашей компании
              </span>

              <div class="popup-form__inner">
                <TextInput
                  className="fv"
                  label="*Юридическое название компании"
                  placeholder="Введите юридическое название компании"
                  required
                  data-action="required-text"
                />
                <TextInput
                  className="fv"
                  label="*Юридический адрес"
                  placeholder="Введите юридический адрес"
                  required
                  data-action="required-text"
                />
                <TextInput
                  className="fv"
                  label="*Почтовый адрес"
                  placeholder="Введите почтовый адрес"
                  required
                  data-action="required-text"
                />
              </div>

              <DefaultBtn
                type="button"
                className="popup-partner__btn"
                data-next
              >
                Продолжить
              </DefaultBtn>
            </div>
            <div class="swiper-slide">
              <span class="popup__text">
                Еще совсем чуть-чуть! Заполните банковские данные
              </span>

              <div class="popup-form__inner">
                <Select
                  className="fv"
                  required
                  name="bank"
                  items={bankSelects}
                  label="*Название банка"
                  placeholder="Выберите название банка"
                />
                <TextInput
                  className="fv"
                  label="*Код банка"
                  placeholder="Введите код банка"
                  required
                  data-action="required-text"
                />
                <TextInput
                  className="fv"
                  label="*Адрес банка"
                  placeholder="Введите адрес банка"
                  required
                  data-action="required-text"
                />
                <div class="popup-form__group">
                  <TextInput
                    className="fv"
                    label="*Расчетный счет"
                    placeholder="12345678901234567890"
                    required
                    data-action="required-text"
                  />
                  <TextInput
                    className="fv"
                    label="*УНП"
                    placeholder="Введите УНП"
                    required
                    data-action="required-text"
                  />
                </div>
              </div>

              <DefaultBtn
                type="button"
                className="popup-partner__btn"
                data-next
              >
                Продолжить
              </DefaultBtn>
            </div>
            <div class="swiper-slide">
              <span class="popup__text">Последний шаг!</span>

              <div class="popup-form__inner">
                <TextInput
                  className="fv"
                  label="*ОКПО"
                  placeholder="Введите ОКПО"
                  required
                  data-action="required-text"
                />
                <TextInput
                  className="fv"
                  label="*Директор (ФИО)"
                  placeholder="Введите директор (ФИО)"
                  required
                  data-action="required-text"
                />
                <TextInput
                  className="fv"
                  label="*Действует на основании"
                  placeholder="на основании устава/учредительного договора"
                  required
                  data-action="required-text"
                />
                <div class="text-input popup-partner-radio">
                  <span class="text-input__label">*Действует на основании</span>
                  <div class="popup-partner-radio__inner">
                    <label class="popup-partner-radio__item">
                      <input type="radio" checked name="nds" />
                      <span class="popup-partner-radio__icon"></span>
                       20%
                    </label>
                    <label class="popup-partner-radio__item">
                      <input type="radio" name="nds" />
                      <span class="popup-partner-radio__icon"></span>
                       Без НДС
                    </label>
                  </div>
                </div>
                <TextInput
                  className="fv"
                  label="*E-mail (Для расчетов и прайс-листов)"
                  placeholder="name@untitledui.com"
                  required
                  data-action="required-text"
                />
                <TextInput
                  className="fv"
                  label="*Сайт компании"
                  placeholder="name.com"
                  required
                  data-action="required-text"
                />
              </div>

              <DefaultBtn
                type="submit"
                className="popup-partner__btn"
                data-next
              >
                Отправить
              </DefaultBtn>
            </div>
          </div>
        </div>
      </form>
      <div class="popup-partner-send">
        <div class="popup-partner-send__anim">
          <span class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span><span
            class="slow"></span><span class="slow"></span><span class="slow"
          ></span><span class="slow"></span><span class="slow"></span>
          <span class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span><span
            class="medium"></span><span class="medium"></span>
          <span class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span><span
            class="fast"></span><span class="fast"></span><span class="fast"
          ></span><span class="fast"></span><span class="fast"></span>
        </div>
        <div class="popup__head">
          <h4 class="popup__title">
            Спасибо! <br />
             Ваша заявка принята
          </h4>
          <span class="popup__text">
            Наш менеджер свяжется с вами в ближайшее время
          </span>
        </div>

        <DefaultBtn type="button" data-close-popup>Хорошо</DefaultBtn>
      </div>
    </div>
  </div>
</Popup>
