---
import { Sprite } from "astro-icon";
---

<section class="main-banner" data-mode="dark">
  <div class="main-banner-bg">
    <div class="main-banner-bg__item">
      <img src="./img/main-banner-2.jpg" alt="" />
    </div>
    <div class="main-banner-bg__item">
      <img src="./img/main-banner.jpg" alt="" />
    </div>
  </div>
  <div class="container main-banner__container">
    <label class="main-banner-switch">
      <input
        type="checkbox"
        class="main-banner-switch__input"
        data-switch
        hidden
        checked
      />
      <span class="main-banner-switch__container">
        <span class="main-banner-switch__icon">
          <Sprite name="sun" />
        </span>
        <span class="main-banner-switch__icon">
          <Sprite name="moon" />
        </span>
        <span class="main-banner-switch__joystick"></span>
      </span>
    </label>

    <div class="main-banner-contacts">
      <a href="#" class="main-banner-contacts__link">
        <Sprite name="whatsapp" />
      </a>
      <a href="#" class="main-banner-contacts__link">
        <Sprite name="telegram" />
      </a>
    </div>
  </div>
</section>
