---

---

<section class="about-banner">
  <img src="./img/bg-logo.svg" alt="" class="about-banner__bg" />
  <div class="container about-banner__container">
    <h1 class="about-banner__title">BATUMI SAFE REALTY</h1>
    <h2 class="about-banner__subtitle">Агентство недвижимости</h2>
    <p class="about-banner__desc">
      Подберем выгодный для Вас объект и поможем с выбором инвестиционной
      стратегии
    </p>
  </div>
</section>
