---
import Layout from "../layouts/Layout.astro";
import DefaultLink from "../components/DefaultLink/DefaultLink.astro";
---

<Layout title="разводная страница">
  <div>
    <DefaultLink props={{ href: "./main.html", target: "_blank" }}>
      Главная
    </DefaultLink>
    <DefaultLink props={{ href: "./partners.html", target: "_blank" }}>
      Партнеры
    </DefaultLink>
  </div>
</Layout>

<style type="scss">
  div {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  a {
    font-size: 2rem;
  }
</style>
