---
import "./Header.scss";
---

<header class="header">
  <div class="container header__container">
    <a href="/" class="header__logo">
      <svg>
        <use href="#logo-icon"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <a href="#" class="header-nav__link">О нас</a>
      <a href="#" class="header-nav__link">Каталог</a>
      <a href="#" class="header-nav__link">Интернет-магазин</a>
      <a href="#" class="header-nav__link">Контакты</a>
    </nav>

    <button type="button" class="header__btn">
      <svg>
        <use href="#burger-icon"></use>
      </svg>
    </button>
  </div>
</header>
