---
import BlockTitle from "../BlockTitle/BlockTitle.astro";
import DefaultLink from "../DefaultLink/DefaultLink.astro";
import "./Partners.scss";
---

<section class="partners">
  <div class="container partners__container">
    <div class="partners__head">
      <BlockTitle>Партнеры</BlockTitle>
      <DefaultLink props={{ href: "#" }}>Все партнеры</DefaultLink>
    </div>
    <ul class="partners__list">
      <li class="partners__item">
        <img src="./images/partners-1.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-2.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-3.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-4.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-5.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-6.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-7.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-8.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-9.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-10.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-11.jpg" alt="partner" />
      </li>
      <li class="partners__item">
        <img src="./images/partners-12.jpg" alt="partner" />
      </li>
    </ul>
  </div>
</section>

<script src="./Partners.ts"></script>
