@import "scss-reset/reset";
@import "./vars";
@import "./mixins";

html {
  box-sizing: border-box;
  font-size: 10px;

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1920 * 10);
  }

  @include breakpoint($xm-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  @include breakpoint($xs-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: normal;
  color: $brown-1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;

  @include breakpoint($xl-bp) {
    max-width: 100%;
    padding: 0rem 8rem;
  }

  @include breakpoint($xs-bp) {
    padding: 0rem 1.5rem;
  }
}
